In [9]:
#include autoreload modules for fast testing and update
%load_ext autoreload
%autoreload 2

#import relevant modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#import helpers modules

#set maximu columns display pandas
pd.options.display.max_columns = 50

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

Looks like the opportunity cost for hydro are derived based on the hydro load generation and the swiss index directly based

In [4]:
#df=pd.read_excel('../data/external/Actual Generation per Production Type_201901010000-202001010000.xlsx')

Let's check the epex data example

In [7]:
df=pd.read_csv('../data/external/DE_Continuous_Orders_20200305.csv', nrows=500, sep=';')

In [13]:
df.head()

,Order ID,Initial ID,Parent ID,Entry time,Action code,Transaction Time,Validity time,Delivery Start,Delivery End,Product,Delivery area,Market area,Side,Price,Currency,Quantity,isOTC,RevisionNo,Is User Defined Block,Execution restriction,Unnamed: 20
0,10683176416,10683176416,NaN,2020-03-04T22:32:04.898Z,X,2020-03-04T23:00:00.002Z,2020-03-04T23:00:00Z,2020-03-04T23:30:00Z,2020-03-04T23:45:00Z,Intraday_Quarter_Hour_Power,AMP,DE,Buy,10.0,EUR,20.0,N,2,0,NON,NaN
1,10683191815,10683191815,NaN,2020-03-04T22:49:18.604Z,X,2020-03-04T23:00:00.002Z,2020-03-04T23:00:00Z,2020-03-04T23:15:00Z,2020-03-04T23:30:00Z,Intraday_Quarter_Hour_Power,TNG,DE,Sell,36.4,EUR,0.2,N,2,0,NON,NaN
2,10683191816,10683191816,NaN,2020-03-04T22:49:18.604Z,X,2020-03-04T23:00:00.002Z,2020-03-04T23:00:00Z,2020-03-04T23:30:00Z,2020-03-04T23:45:00Z,Intraday_Quarter_Hour_Power,TNG,DE,Sell,41.0,EUR,0.5,N,2,0,NON,NaN
3,10683191836,10683191836,NaN,2020-03-04T22:49:18.604Z,X,2020-03-04T23:00:00.002Z,2020-03-04T23:00:00Z,2020-03-04T23:15:00Z,2020-03-04T23:30:00Z,Intraday_Quarter_Hour_Power,50HzT,DE,Sell,36.4,EUR,0.2,N,2,0,NON,NaN
4,10683191846,10683191846,NaN,2020-03-04T22:49:18.604Z,X,2020-03-04T23:00:00.002Z,2020-03-04T23:00:00Z,2020-03-04T23:15:00Z,2020-03-04T23:30:00Z,Intraday_Quarter_Hour_Power,TTG,DE,Sell,36.4,EUR,1.0,N,3,0,NON,NaN

In [12]:
df['Delivery area'].unique()

array(['AMP', 'TNG', '50HzT', 'TTG'], dtype=object)